//////////IMPORTS///////////////////
@import 'bourbon/bourbon';
@import 'base/base';
@import '_normalize';
@import url(https://fonts.googleapis.com/css?family=Bangers);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);



////////Variables//////////////////
$white: #fff;
$black: #000;
$bg-color-one: #3e3e3e;
$bg-color-two: #0EAD69;
$main-font: 'Bangers', sans-serif;
$second-font: 'Open Sans', sans-serif;

////////MIXINS//////////////////
@mixin flex-row() {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

@mixin flex-col() {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

@mixin heading() {
  font-size: 3em;
  font-family: $main-font;
}

////////BASE STYLES//////////////////
html {
  box-sizing: border-box;
}
*, *:after, *::before {
  box-sizing: border-box;
}

body {
  font-family: $second-font;
  line-height: 1.5;
  letter-spacing: 1;
}

a {
  color: $bg-color-one;
}

img {
  max-width: 100%;
  height: auto;
}

////////HEADER//////////////////
.header-container {
  background-color: $bg-color-one;
  color: $white;
  padding-top: 10px;
  @include flex-col;
  > div .personal-pic {
    border-radius: 100%;
    border: 1px solid #222;
  }
  > div h1 {
    @include heading;
  }
  > div h2 {
    font-size: .9em;
    margin-top: -10px;
    padding-bottom: 5px;
  }
}

////////ABOUT ME//////////////////
.about-container {
  background-color: $bg-color-two;
  color: $white;
  font-family: $second-font;
  @include flex-col;
  height: 700px;
  text-align: center;
  @media(max-width: 520px) {
    height: 850px;
  }
  > div h1 {
    @include heading;
  }
  > .about-inner-container {
    @include flex-row;
    flex-flow: row nowrap;
    width: 55%;
    height: 450px;
    // background-color: red;
    @media (max-width: 1220px) {
      @include flex-col;
      width: 65%;
    }
    @media (max-width: 683px) {
      width: 85%;
    }
    @media (max-width: 520px) {
      height: 680px;
      width: 95%;
    }
    > .adjectives {
      flex: 1 0 38.5%;
      // background-color: yellow;
      height: 300px;
      // font-family: $main-font;
      font-size: 2.2em;
      align-self: center;

    }
    > .my-info {
      flex: 1 0 58.5%;
      font-size: 1.15em;
      height: 300px;
      // background-color: blue;
      text-align: justify;
      align-self: center;
    }
  }
}

////////PORTFOLIO//////////////////

.portfolio-container {
  background-color:  red;
  @include flex-row;
  height: 650px;
  @media (max-width: 1910px) {
    height: auto;
  }
  > .row {
    background-color: yellow;
    @include flex-row;
    flex: 1 0 auto;
    justify-content: space-between;
    height: 49.5%;
    width: 95%;
    @media (max-width: 1910px) {
      @include flex-col;
      flex-wrap: wrap;
    }
    > div .port-img {
      background-color: blue;
      width: 625px;
      height: 300px;

    }
  }
}

////////SOCIAL MEDIA//////////////////

.social-container {
  @include flex-row;
  height: 200px;
  background-color: $bg-color-two;
  @media (max-width: 786px) {
    height: 385px;
  }
  > .social-media {
    @include flex-row;
    justify-content: space-between;
    width: 40%;
    @media (max-width: 786px) {
      flex-flow: column wrap;
      margin: 10px 0;
    }
    > .img-bg {
      background-color: #0c9b5e;
      text-align: center;
      padding: 20px;
      border-radius: 20px;
      box-shadow: inset 1px 1px 5px #086c41;
      @media (max-width: 786px) {
        margin: 10px 0;
      }

    }
    > div .soc-icons {
      height: 60px;
      width: 60px;

    }
  }
}


////////FOOTER//////////////////

.footer-container {
  @include flex-row;
  height: 100px;
  background-color: $bg-color-one;
  border-bottom: 10px solid #333;
  > p {
    color: $white;
    font-family: $main-font;
    font-size: 1.25em;
    align-self: flex-end;

  }
}
